obj/project.assets.json
.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.0/temp.deps.json
bin/Debug/netcoreapp3.0/temp.dll
bin/Debug/netcoreapp3.0/temp.exe
bin/Debug/netcoreapp3.0/temp.pdb
bin/Debug/netcoreapp3.0/temp.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/temp.runtimeconfig.json
obj/temp.csproj.nuget.cache
obj/temp.csproj.nuget.dgspec.json
obj/temp.csproj.nuget.g.props
obj/temp.csproj.nuget.g.targets
obj/Debug/netcoreapp3.0/temp.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/temp.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/temp.assets.cache
obj/Debug/netcoreapp3.0/temp.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/temp.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/temp.dll
obj/Debug/netcoreapp3.0/temp.exe
obj/Debug/netcoreapp3.0/temp.pdb
